
      .box{
        height: 400px;
        width: 450px;
        display: flex;
        justify-content: center;
        border-radius: 40px;
        padding: 40px;
        flex-direction: column;
        margin-top: 150px;
        background-color: black;

      }

      body{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(35, 35, 35);
      }
      
      .para{
        display: flex;
        justify-content: space-between;
        align-items: center;

      }

      p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: rgb(179, 179, 179);
      }

      .breaker{
        color: rgb(74, 74, 74);
        margin: 0;
      }

      .total{
        color: rgb(255, 81, 81);
        font-size: 30px;
        font-weight: bold;
      }

      h1{
        color: white;
      }