.footer-first{
  background-color: #37475a;
  padding: 15px 0px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}

.footer-first:hover{
  background-color: #485769;
  cursor: pointer;
}

.footer-base{
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  padding: 50px 0px;
  background-color: #232f3e;
  color: white;
}

.footer-inside{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.footer-div-info{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-div-head{
  font-weight: 700;
  margin: 6px 0px 14px;
}

.footer-div-para{
  color: #dddddd;
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0 0 10px;
  width: 146px;
}

.footer-div-para:hover{
  text-decoration: underline;
  cursor: pointer;
}

.footer-panel3{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cccccc;
  background-color: #232f3e;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(74, 74, 74);
  padding: 10px 0px 20px;
  gap: 3px;
}

.footer-button{
  background-color: #232f3e;
  border: 1px solid grey;
  color: #004b91;
  margin: 0 4px 0 0;
  padding: 6px 18px 6px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.lan-button{
  background-color: #232f3e;
}

.footer-az-logo{
  height: 55px;
  margin-top: 11px;
  margin-right: 80px;

}

.img{
  height: 10px;
}

.scroll{
  margin-left: 27px;
}

.footer-panel4{

  padding: 10px 0 30px;
  background-color: #131a22;
}

.footer-panel4 a{
  color: #dddddd;
  font-size: 0.75rem;
  padding: 0 7.2px;
}

.footer-panel4 li{
  display: flex;
  justify-content: center;
  
}

.footer-panel4 span{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  color: #dddddd;
  font-size: 0.75rem;
}