.item-list{
  position: absolute;
  display: flex;
  gap: 20px;
  margin: 0px 30px;
}

.item-images{
  padding: 20px;
  display: flex;
  width: 25%;
  flex-direction: column;

  background-color: white;
}

.item-img{
  height: 290px;
  object-fit: cover;
  object-position: center;
  margin: 20px 0px;
  cursor: pointer;
}

.item-title{
  color: #0f1111;
  font-size: 1.3rem;
  font-weight: 700;
}

.item-summary{
  font-size: 0.8rem;
  color: rgb(65, 55, 199);
  padding-top: 5px;
  font-weight: 500;
}

.item-summary:hover{
  color: #0f1111;
  cursor: pointer;
}

body{
  background-color: rgb(237, 231, 231);
  height: 2000px;
}

.item-img-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 300px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.item-image-div{
  width: 90%;
  height: 100px; 
  cursor: pointer;
}

.item-txt{
  font-size: 0.7rem;
  cursor: pointer;
}